/* Palette 'Good Friends' */
/* #D9CEB2,#948C75,#D5DED9,#7A6A53,#99B2B7,#D9CEB2,#948C75,#D5DED9 */
/* No space between var and ()! Otherwise it will break! */
:root {
  --color-one: #d5ded9; /* 'Bond': light gray green */
  --color-two: #d9ceb2; /* 'Innocence': light tan */
  --color-three: #99b2b7; /* 'Forever': medium gray-green */
  --color-four: #948c75; /* 'Kind Giant': grey-brown */
  --color-five: #7a6a53; /* 'Pachyderm' - medium warm brown */
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  color: var(--color-five);
  background-color: var(--color-one);
  font-family: 'Roboto', sans-serif;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav {
    flex: 0 0 12em;
  }
}

h1,
h2,
h3 {
  text-align: center;
}
